.about-layout{
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.timeline{
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.timeline-item{
  padding: var(--space-m);
  border: 2px solid black;
}