/*SOBRE MI*/
#about{
  scroll-margin-top: 8dvh;
}

.titulo-about{
  text-align: center;
}



.grid-about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 48px 48px;


  grid-template-areas: 
  "texto texto2"
  "texto3 foto"
  "texto4 foto"; 
}

.width-25vw{width: 25vw;}

.self-justify{
  justify-self: center;
}
.texto1 { grid-area: texto; }
.texto2 { grid-area: texto2; }
.texto3 { grid-area: texto3; }
.foto { grid-area: foto; }
.texto4 { grid-area: texto4; }

.center-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-image img {
  height: auto;
  max-height: 100%; /* Ajusta dinámicamente la altura de la imagen */
  max-width: 55%; /* Ajusta dinámicamente el ancho de la imagen */
  object-fit: contain; /* Mantiene las proporciones de la imagen */
}


.logo{
  display: flex;
  justify-content: center;
  margin-bottom: 1dvh;
}

.padding-width-12vw{padding-left:12vw; padding-right: 12vw;}


.marcador-parrafo{
  background: linear-gradient(0deg, var(--acento) 100%, transparent 50%); 
  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
  display: inline-block;
}

.subrayado-parrafo{
  text-decoration: underline;
  display: inline-block;
}

@media(max-width:1065px){
  
  .grid-about{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .width-25vw{
    width: 60vw;
  }

  .padding-width-12vw{
    padding-left:6vw; padding-right: 6vw;
  }
}

@media(max-width:600px){
  .width-25vw{
    width: 80vw;
  }
}