
/*EXPERIENCIA-------------------------------------------------*/
#experiencia {
  scroll-margin-top: 8dvh;
}

.componente-experiencia{
  min-height: 40dvh;
}

.grid-experiencia{
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr;

  gap: 10px;
  column-gap: 5vw;
}

.grid-experiencia-izq{
  grid-template-areas:
  "texto foto"
  "links-exp foto";
}
.grid-experiencia-der{
  grid-template-areas:
    "foto texto"
    "foto links-exp";
}

.grid-texto{
  grid-area: texto;
}

.rol-fecha{
  display: flex;
  justify-content: space-between;
}

.li-exp{
  list-style:disc;
  margin-left: 2vw;
  margin-top: 1dvh;
}


/*FOTO EXPERIENCIA*/
.grid-foto {
  grid-area: foto;
  justify-self: center;
  align-self: center;

  display: flex;
  justify-content: center;
  height: max-content;
}

.foto-container {
  width: max-content;

  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;

  padding: 1dvh 1vw;
}


.img-responsive{
  max-height: 300px;
  object-fit: contain;
}

.sombra{
  box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
}


/*LINKS REPOSITORIO*/
.grid-links {
  grid-area: links-exp;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

/*TEXTO EXPERIENCIA*/
.subtitulo-exp {
  display: flex;
  justify-content: space-between;
  margin-top: .1dvh;
}

.tecnologia-exp {
  display: flex;
  flex-wrap: wrap;

  column-gap: 1vw;
  row-gap: 5px;
}

.pill {
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 50px;
}


@media (max-width:972px) {

  .container-izq,
  .container-der {
    display: flex;
    flex-direction: column;
  }

  .foto-exp {
    margin-top: 2dvh;
  }

  .links-exp {
    justify-content: center;
  }
}

@media(max-width:760px) {
/*EXPERIENCIA*/

.container-izq,
.container-der {
  display: flex;
  flex-direction: column;
}

.foto-exp {
  display: block;
}

.nombre-exp {
  font-size: 1.375rem;
}

.subtitulo-exp {
  & p {
    font-size: 1rem;
  }
}

.pill {
  font-size: .75rem;
  padding: 1px 10px;
}

.descripcion-exp {
  font-size: .875rem;
}

.desafio-exp {
  font-size: .875rem;
}
}