/*NAVEGACION--------------------------------------------------------*/
.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.animate{
  position: relative;
  display: inline-block;
  z-index: 2;
}
.animate::before{
  content: '';
  position: absolute;

  top: 0;
  left: -15%;

  width: 130%;
  height: 100%;

  transition: .2s cubic-bezier(0.4, 0, 1, 1);
  
  z-index: -1;
  transform: skewX(-20deg);
}

.animate:hover::before{
  box-shadow: inset 50vw 0 0 0  var(--acento); 
}

.lista-navegacion {
  display: flex;
  justify-content: space-evenly;
}
