/*NORMALIZACION Y VARIABLES----------------------------------------------*/
:root{
  --blanco:#ffffff;
  --negro:#000000;
  --acento:#DCF5CA;

  --fondo-primario:#253C31;
  --color-primario:#EDFFE0;

  --fondo-secundario:#3A4A42;
  --color-secundario:#F1FFE0;

  --font-main:"Montserrat", sans-serif;
  --font-secondary:"Hind", serif;

  
  --fs-base:1rem;
  --fs-subtitle:1.25rem;
  --fs-details:1.75rem;
  --fs-title:3.125rem;
  --fs-name:4.35rem;

  
}

* {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);

}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100dvh;
  background-color: var(--blanco);
  font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*TEXTO Y FUENTES ------------------------------------------------------------------*/
.parrafo{
  font-family: var(--font-secondary);
  font-size: var(--fs-base);
}

.titulo{
  font-weight: 600;
  font-size: var(--fs-title);
}

.subtitulo{
  font-style: italic;
  font-weight: 400;
}

.italic{
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: var(--fs-details);
  font-weight: 400;
}

.nombre{
  font-size: var(--fs-name);
  font-weight: bold;
  line-height: 4.375rem;
}


/*BOTONES, LINKS y EFECTOS-------------------------------------------------------------------------------*/

.hero {
  min-height: 250px;
}


/*EFECTO MARCADOR------------------------------------------------------------------*/
.marcador{
  position: relative;
  display: inline-block;
  z-index: 1;
}

.marcador::before{
  content: "";
  position: absolute;

  top: -.5rem;
  left: -1rem;

  padding: .5rem 1rem;

  width: 100%;
  height: 2rem;

  background-color: #DCF5CA;
  z-index: -1;
  transform: skewX(-20deg);

}

/*en lugar de height, ajustar altura con padding cuando sea posible, para adaptar al contenido
nav position sticky*/



/*BOTONES----------------------------------------------------------------------------*/
.btn {
  border-radius: 50px;
  background-color: #E7DDAC;
  color: #361300;
  transition-duration: 0.1s;
  cursor: pointer;

}

.btn:hover{
  background-color: #361300;
  color: #E7DDAC;
}

.btn:active{
  background-color: #361300;
  color: #E7DDAC;
  box-shadow: 
    0px -4px 0px 0px #E7DDAC, 
    inset 0px -4px 0px 0px #253C31, 
    0px 4px 0px 0px #253C31;
    

  transform: translateY(4px);
}

.btn-contacto {
  padding: .75rem 3.5rem;
  border: none;
  font-size: 1.75rem;
}

.btn-exp {
  padding: .5rem 2.5rem;
  font-size: 1.25rem;
}

.btn-izq:active{
  box-shadow: 
    0px -4px 0px 0px #E7DDAC,
    inset 0px -4px 0px 0px #A3BFA8,
    0px 4px 0px 0px #A3BFA8;
}

.btn-der:active{
  box-shadow: 
    0px -4px 0px 0px #E7DDAC, 
    inset 0px -4px 0px 0px #426152, 
    0px 4px 0px 0px #426152;
}

.amarillo{
  color: #E7DDAC;
}



/*MEDIA QUERIES*/



@media(max-width:760px) {

  /*BOTONES*/
  .btn-contacto {
    font-size: 1rem;
    padding: .5rem 3rem;
    margin: 4dvh 0 8dvh 0;
  }

  .btn-exp {
    padding: .25rem 1.5rem;
    font-size: .875rem;
    margin: 0 4vw;
  }  
}

