/*NORMALIZACION*/
* {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100dvh;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  min-height: 250px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*en lugar de height, ajustar altura con padding cuando sea posible, para adaptar al contenido
nav position sticky*/


/*NAVEGACION--------------------------------------------------------*/
nav {
  position: sticky;

  & .lista-navegacion {
    display: flex;
    justify-content: space-evenly;

    padding: 2vh;
    margin: 0 15rem;
  }

  & .link-nav {
    font-size: 1.875rem;
    /*30px*/
    color: black;
  }

  & a {
    display: inline-block;
    transition: transform 0.2s ease;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.1);
      font-weight: 500;
    }

  }

}



/*HEADER-------------------------------------------------------------*/

.container-flex-header {
  min-height: 90dvh;
  display: flex;
}

.item-article-header {
  flex: 4;
  min-width: 300px;
  margin-top: 10rem;
  padding: 0 2vw;

  & .nombre {
    font-size: 5rem;
    font-weight: bold;
    line-height: 4.375rem;
  }

  & .subtitulo-article {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;
  }

  & .descripcion-breve {
    width: 80%;
    margin-top: 4rem;
    font-size: 2.188rem;
    font-weight: 400;
  }
}

.item-aside-header {
  flex: 2;
  min-width: 300px;
  padding: 2vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #557C6A;
  color: #F4F3F1;

  & .subtitulo-aside {
    margin-top: 6rem;

    font-size: 2.188rem;
    font-weight: 300;
    font-style: italic;
  }

  & .links-aside {

    min-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;



    & a {
      color: #F4F3F1;
    }

    & .individual-link-aside {
      display: flex;
      align-items: center;
      gap: 2vw;


    }
  }

  & .parrafo-link {
    font-size: 2.188rem;
  }
}

.btn{
  border-radius: 50px;
  background-color: #E7DDAC;
  color: #361300;
}

.btn-contacto{
  padding: .75rem 3.5rem;
  border: none;
  font-size: 1.75rem;
}

.btn-exp{
  padding: .25rem 2.5rem;
  font-size: 1.25rem;
}

/*EXPERIENCIA*/
.container-izq {
  min-height: 40dvh;

  display: grid;
  grid-template-areas:
    "texto foto"
    "links-exp foto";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  gap: 10px;
  column-gap: 5vw;
  color: #253C31;
  background-color: #A3BFA8;

  padding: 8dvh 4vw;

}

.container-der{
  min-height: 40dvh;

  display: grid;
  grid-template-areas:
    "foto texto"
    "foto links-exp";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  gap: 10px;
  column-gap: 5vw;
  color: #DCF5CA;
  background-color: #426152;

  padding: 8dvh 4vw;
}

.texto {
  grid-area: texto;

  & p {
    font-size: 1.75;
    font-weight: 600;
    margin-top: 1dvh;

    line-height: 1.5rem;
  }
}

.foto-exp {
  grid-area: foto;
  display: flex;
}
.foto-container{
  max-width: 700px;
  margin: auto auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #F4F3F1;
  border-radius: 9px;
  padding: 4dvh 3vw 2dvh 3vw;

  & .img-responsive{
    max-width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: contain;
    
    /* -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.22); */
  }
}
.banner{
  width: 40%;
}


/*LINKS REPOSITORIO*/
.links-exp {
  grid-area: links-exp;
  display: flex;
  
  justify-content: start;
  align-items: center;

  gap: 4vw;
  margin-top: 4dvh;
}

/*TEXTO EXPERIENCIA*/
.nombre-exp {
  font-weight: 600;
  font-size: 3.125rem;
}

.subtitulo-exp {
  display: flex;
  justify-content: space-between;
  margin-top: 1dvh;

  & p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
  }
}

.tecnologia-exp {
  display: flex;
  flex-wrap: wrap;

  column-gap: 1vw;
  row-gap: 5px;

  margin-top: 2dvh;
}

.pill{ 
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 50px;
}

.izq{
  background-color: #253C31;
  color: #CFE8D3;
}
.der{
 background-color: #DCF5CA;
 color: #2D4439;
}

.acento{
  font-weight: bold;
}

.remarcado{
  color: #361300;
  background-color: #E7DDAC;
}

/*FOTO EXPERIENCIA*/


/*MEDIA QUERIES*/
@media(max-width:1720px) {

  /*HEADER*/
  .item-aside-header {
    & .subtitulo-aside {
      font-size: 2rem;
    }

    & .parrafo-link {
      font-size: 2rem;
    }

    &.link-aside {
      &.individual-link-aside {
        gap: 1rem;
      }

    }
  }

  .icon {
    height: 3em;
    width: 3em;
  }

}

@media(max-width:1430px) {

  /*HEADER*/
  .item-aside-header {

    & .subtitulo-aside {
      font-size: 1.75rem;
    }

    & .parrafo-link {
      font-size: 1.75rem;
    }

    &.link-aside {
      &.individual-link-aside {
        gap: 1rem;
      }

    }
  }

  .icon {
    height: 2em;
    width: 2em;
  }

}



@media(max-width:1024px) {

  /*NAVEGACION*/
  nav {
    & .lista-navegacion {
      justify-content: space-around;
      margin: 0;
    }
  }

  /*HEADER*/
  .container-flex-header {
    min-height: 70dvh;
  }

  .item-article-header {

    & .nombre {
      font-size: 3rem;
      line-height: 4rem;
    }

    & .subtitulo-article {
      font-size: 1.5rem;
    }

    & .descripcion-breve {
      font-size: 1.375rem;
    }
  }

}

@media (max-width:972px) {
  .container-izq, .container-der{
    display: flex;
    flex-direction: column;
  }

  .foto-exp{
    margin-top: 2dvh;
  }
  .links-exp{
    justify-content: center;
  }
}

@media(max-width:760px) {

  /*NAVEGACION*/
  nav {
    & .link-nav {
      font-size: 0.875rem;
      /* 14px movil*/
    }
  }

  /*HEADER*/
  .container-flex-header {
    min-height: 30dvh;
    flex-direction: column;
  }

  .item-article-header {
    margin: 4dvh 2vw;

    & .nombre {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }

    & .subtitulo-article {
      font-size: 1.5rem;
    }

    & .descripcion-breve {
      font-size: 1.375rem;
    }
  }

  .item-aside-header {
    padding-top: 6dvh;
    & .subtitulo-aside {
      margin: 4dvh 0;
      font-size: 1.375rem;
    }

    & .parrafo-link {
      margin: 2dvh 0;
      font-size: 1.375rem;
    }

  }

  /*BOTONES*/
  .btn-contacto{
    font-size: 1rem;
    padding: .5rem 3rem;
    margin: 4dvh 0 8dvh 0;
  }
  .btn-exp{
    padding: .25rem 1.5rem;
    font-size: .875rem;
    margin: 0 4vw;
  }

  /*EXPERIENCIA*/

  .container-izq, .container-der {
    display: flex;
    flex-direction: column;
  }

  .foto-exp{
    display: block;
  }
  .nombre-exp{
    font-size: 1.375rem;
  }
  .subtitulo-exp{
    & p{
      font-size: 1rem;
    }
  }
  .pill{
    font-size: .75rem;
    padding: 1px 10px;
  }
  .descripcion-exp{
    font-size: .875rem;
  }
  .desafio-exp{
    font-size: .875rem;
  }
}